@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body{
    font-family: 'Red Hat Display', Arial, Helvetica, sans-serif;
    background-image: url(images/pattern-background-desktop.svg);
    background-color: hsl(225, 100%, 94%);
    background-repeat: no-repeat;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main-box{
    background-color: white;
    width: 30%;
    border-radius: 15px;
    text-align: center;

}

.img1{
    width: 100%;
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
}

.heading{
color: hsl(223, 47%, 23%);
font-weight: 900;
margin: 6% 5%;

}

.para{
    margin: 5%;
    color: hsl(224, 23%, 55%)
}

.annual-plan-box{
    background-color:  #f8f9fe;
    margin: 5% 10%;
    padding: 4%;
    border-radius: 15px;
    position: relative;
}
.img2{
    float: left;
}
.box-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box-1>a{
   color: #382ae1;
   font-weight: 700;
}

.box-1>a:hover{
    text-decoration: none;
    color: #766cf1;
}
.annual-box span{
    color: hsl(224, 23%, 55%);
    font-weight: lighter;
}

button{
    width: 80%;
    margin: 3%;
    height: 50px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: #fff;

}

.btn1{
    background-color: #392adf;
    transition: 0.2s;
    font-family: 'Red Hat Display', Arial, Helvetica, sans-serif; 
   box-shadow:  0px 15px 25px hsl(226, 46%, 84%)}
.btn1:hover{
    background-color: #766cf1;
  
}
.btn2{
    color: #000;
    border: none;
    background-color: #fff;
    font-family: 'Red Hat Display', Arial, Helvetica, sans-serif;
    font-weight: 700;
}

@media screen and (max-width:1000px) {
    .main-box{
        width: 40%;
    }
}

@media screen and (max-width:700px) {
    .main-box{
        width: 50%;
    }
    .annual-plan-box{
        font-size: 13px;
    }
}

@media screen and (max-width:450px) {
    .main-box{
        width: 80%;
    }
    .heading{
        margin: 6% 8%;
    }
    .para{
        margin: 8%;
    }
}
